* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
}

.parent {
    width: 600px;
    height: 600px;
    border: 2px dashed gray;
    position: absolute
}
.box1 {
    background-color: lightcoral;
    top: 800px;
    left: 200px;
}
.box2 {
    background-color: lightblue;
}
.box3 {
    background-color: lightgreen;
}
.box4 {
    background-color: lightsalmon;
}
.box5 {
    background-color: lightyellow;
}