*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel {
   width: 90%;
   background: #f0f0f0;
   margin: 100px auto;
   border: 5px solid red;
   display: flex;
   overflow-x: auto;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.group {
   display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    animation: scroll 10s linear infinite;
    margin-right: 1em;

}
.card {
    flex: 0 0 5em;
   height: 5em;
   padding: 1em;
   background: cornflowerblue;
   font-size: 3rem ;
   border-radius: .2em;
   text-align: center;
   align-content: center;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}