@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
}
.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    padding: 25px;
    background: #fff;
    border-radius: 24px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: relative;
}

.profile-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    border-radius: 24px 24px 0 0;
    background: #4070f4;
}

.image {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 10px;
}

.image .profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; 
    border: 3px solid #fff;
}
.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-data .name{
    font-size: 22px;
    font-weight: 500;
}
.text-data .job{
    font-size: 15px;
    font-weight: 400;
}
.profile-card .media-buttons{
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}

.media-buttons .link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    width: 34px;
    height: 34px;
    background-color: #4070f4;
    border-radius: 50%;;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}
.profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.buttons .button{
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border: 2px solid #4070f4;
    margin: 0 10px;
    border-radius: 24px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons .button:hover{
    background-color: #0e4bf1;
}

.profile-card .analytics{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.analytics .data{
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 6px;
    border-right: 2px solid #e7e7e7;
}

.data i{
    font-size: 18px;
}

.data:last-child{
    border-right: none;
}